.contact-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}

.contact-list__item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.contact-list__email {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
}

.contact-list__email:hover,
.contact-list__email:focus {
    color: var(--accent-color);
}

.contact-list__icon-envelope {
    margin-right: 10px;
}

.contact-list__icon-envelope:hover,
.contact-list__icon-envelope:focus {
    fill: var(--accent-color);
}

.contact-list__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
}

.contact-list__tel:hover,
.contact-list__tel:focus {
    color: var(--accent-color);
}

.contact-list__icon-tel {
    margin-right: 10px;
}

.contact-list__icon-tel:hover,
.contact-list__icon-tel:focus {
    fill: var(--accent-color);
}

.adress {
    font-style: normal;
}

.adress__item:hover,
.adress__item:focus {
    color: var(--accent-color);
}

.adress__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.adress__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white);
    transition: color 250ms var(--timing-function);
}

.adress__email-item:hover,
.adress__email-item:focus {
    color: var(--accent-color);
}

.adress__email-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);
}

.adress__tel-item:hover,
.adress__tel-item:focus {
    color: var(--accent-color);
}

.adress__tel-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);
}