.header .logo {
    color: var(--secondary-title-text-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
}

.logo {
    padding-top: 16px;
    padding-bottom: 16px;

    // @media screen and (min-width: 480px) {
    //     padding-top: 60px;
    //     padding-bottom: 20px;
    // }

    @media screen and (min-width: 770px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.logo__accent {
    color: var(--accent-color);
}

.footer .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: var(--primary-background-color);
    padding: 0px;
}