.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    color: var(--grey);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    color: var(--white);
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);
    fill: var(--grey);
    cursor: pointer;
}

.social__item .one {
    width: 44px;
    border-radius: 50%;
}

.media {
    gap: 10px;
}

.media__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: currentColor;
    color: var(--white);
    transition: background-color 250ms var(--timing-function);
}

.media__icon {
    fill: var(--white);
}

.media__link:hover,
.media__link:focus {
    background-color: var(--accent-color);
}