.clients__section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px;

    @media screen and (min-width: 1200px) {
        gap: 30px;
    }
}

.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
        width: calc((100% - 30px) / 2);
        padding: 15px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc(100% - 30px);
        display: flex;
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: currentColor;
    color: var(--grey);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}

.clients__logo:hover,
.clients__logo:focus {
    background-color: var(--white);
    fill: var(--accent-color);
}