.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__section {
    margin-bottom: 0px;
    background-color: var(--white);
}

.features__section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.features-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--secondary-background-color);
    border-radius: 4px;
    background-position: center;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: start;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.features-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-align: start;
    margin-top: 0px;
    color: var(--title-text-color);
}

.features-list__item:not(:last-child) {
    margin-right: 30px;
}

.item:not(:last-child) {
    margin-right: 30px;
}