.features {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    background-color: var(--white);

    @include tablet {}

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-list__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
        width: 100%;
        flex-wrap: nowrap;
    }
}

.features-list__item {
    @include tablet {
        width: 354px;
    }
}

.features-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: var(--secondary-background-color);
    border-radius: 4px;
    background-position: center;

    @include tablet {
        width: 100%;
    }
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);

    @include tablet {
        text-align: start;
    }
}

.features-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-align: start;
    margin-top: 0px;
    color: var(--title-text-color);
}

.item:not(:last-child) {
    margin-right: 30px;
}