.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    background: var(--primary-background-color);

}

footer.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    padding: 60px, 0;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
        display: block;
        justify-content: center;
    }

    @media screen and (min-width: 1220px) {
        display: flex;
        justify-content: space-between;
    }

}

.locate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 124px;
    padding-right: 124px;
    margin-bottom: 60px;
}