.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    background: var(--primary-background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.locate-join {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 165px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        gap: 70px;
        margin: 0;
    }
}

.locate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    @media screen and (min-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 0;
    }
}

.adress {
    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
        margin-right: 0;
    }
}