.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    background: var(--primary-background-color);

}

footer.container {
    display: flex;
    align-items: center;
    justify-content: center;


}

.footer-container {
    flex-direction: column;
    align-items: center;

}

.locate {
    margin-right: 70px;
}