.galery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.galery.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-left: auto;
}

.galery-title-hidden {
    display: none;
}

.product__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.product__name {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
}

.galery-list__item {
    width: 100%;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
    }
}

.galery-list__item:nth-child(3) {
    margin-right: 0px;
}

.galery-list__item:nth-last-child(3) {
    margin-bottom: 0px;
}

.galery-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    // flex-wrap: wrap;
    gap: 30px;
}

.product__work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color)
}

.galery-list__photo {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--timing-function);
}

.galery-list__photo:hover,
.galery-list__photo:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.product__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
}

.product__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: start;
}

.product {
    position: relative;
    overflow: hidden;
}

.galery-list__photo:hover .product__text,
.galery-list__photo:focus .product__text {
    transform: translateY(0%);
}