.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

header.container {
    // display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    // display: flex;
    align-items: center;
}

.main-navigation {
    @media screen and (max-width: 769px) {
        display: none;
    }

    @media screen and (min-width: 770px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navigation {
    display: flex;
    align-items: center;

    @media screen and (min-width: 770px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
    position: relative;

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--accent-color);
        left: 0px;
        bottom: -1px;
        transition: background 250ms var(--timing-function),
            color 250ms var(--timing-function);
    }
}