    .menu-button {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .menu-button .icon-cross {
        display: none;
    }

    .menu-button.is-open .icon-cross {
        display: block;
    }

    .menu-button .icon-menu {
        display: none;
    }

    .menu-container {
        background-color: white;
        padding-top: 40px;
        text-align: center;
        font-size: 40px;

        &.is-open {
            display: block;
        }

        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    .nav,
    .cont {
        height: 796px;
        width: 480px;

        @media screen and (max-width: 480px) {
            display: flex;
        }

    }

    .nav {
        outline: 1px, solid, #757575;
    }

    .cont {
        outline: 1px, solid, #757575;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }