.subscription-box {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
}


.subscription {
    display: block;
    justify-content: center;
    gap: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    color: var(--white);

    // margin-left: auto;
    // margin-right: auto;
    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }
}

// .subscription-label {
//     margin-bottom: 20px;
// }

.subscription__btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 29px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.subscription__icon {
    margin-left: 10px;
    align-self: center;
    fill: var(--white);
}

.subscription__input::placeholder {
    width: 47px;
    height: 20px;
    left: 831px;
    top: 2802px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}