.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-background-color);
    margin-bottom: 100px;
}

.team__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    width: 270px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card__images {
    margin-bottom: 130px;
}

.card__name {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.card__title {
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 16px;
}