.work {
    padding-top: 0px;

    @media screen and (max-width: 770px) {
        display: none;
    }
}

.work__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.specifics {
    position: relative
}

.specifics__text {
    position: absolute;
    bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.specifics__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}